<div class="wrapper w-full pt-4" [class.item-selected]="isItemSelected">
  <div class="filters-wrapper flex flex-col sm:flex-row container mx-auto px-4 mb-5"
  [ngClass]="{ 'md:flex-row md:justify-start': !isItemSelected, 'md:flex-col md:items-end': isItemSelected }">
    <app-year-picker class="mr-0 sm:mr-10 mb-3 sm:mb-0 w-full sm:w-3/12"
    [ngClass]="{ '': !isItemSelected, 'md:mr-0 md:mb-4': isItemSelected }"
    (year)="yearPicked($event)">
    </app-year-picker>

    <app-genre class="mr-0 sm:mr-10 mb-3 sm:mb-0 w-full sm:w-3/12"
    [ngClass]="{ '': !isItemSelected, 'md:mr-0 md:mb-4': isItemSelected }"
    (genre)="typePicked($event)" [icon]="faIcons.film" [genres]="genres"></app-genre>

    <app-selected-filters (reset)="resetFilters()"></app-selected-filters>
  </div>

  <router-outlet></router-outlet>
</div>

<div class="list-wrapper" [ngClass]="{ 'md:ml-32': isItemSelected }">
  <app-movie-list></app-movie-list>
</div>