<div class="wrapper container mx-auto px-4 md:px-40 lg:px-64">
  <ng-container *ngIf="(movies$ | async) as movies">
    <ng-container *ngTemplateOutlet="movies.length > 0 ? list : empty; context: { $implicit: movies } "></ng-container>
  </ng-container>
</div>

<ng-template #list let-movies>
  <ng-container *ngFor="let movie of movies">
    <app-movie-item-sm class="mb-4" [ngClass]="{ 'active': movie.id === selectedItemId }"
      (click)="movieClicked($event, movie)" (add)="addToMyListClicked($event)" [movie]="movie"></app-movie-item-sm>
  </ng-container>
</ng-template>

<ng-template #empty>
  <div class="text-gray-300">List is empty</div>
</ng-template>