@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */

// @import './styles/main';

html, body {
  width: 100%;
  height: 100%;

  background: rgb(140, 128, 128);
  background: linear-gradient(
    180deg,
    rgba(140, 128, 128, 1) 0%,
    rgba(15, 15, 15, 1) 100%
  );
  background-attachment: fixed;
}

* {
  z-index: 10;
}
